sudo: required
language: node_js
env:
  - DOCKER_COMPOSE_VERSION=1.21.0
services:
  - docker
node_js:
  - "8"
cache:
  directories:
    - "node_modules"
script:
  - npm install -g
  - npm run lint
matrix:
  include:
    - language: node_js
      os: linux
      before_install:
        - sudo curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-$(uname -s)-$(uname -m) -o /usr/local/bin/docker-compose
        - sudo chmod +x /usr/local/bin/docker-compose
        - docker-compose version
        - docker version

      install:
        - npm install

      before_script:
        - cd $TRAVIS_BUILD_DIR/Docker/Test
        - sudo docker-compose -f build.yml build
        - sudo docker-compose -f start-user.yml up -d
      script:
        - cd $TRAVIS_BUILD_DIR/Client && npm install && npm run test; cd ..
        - cd $TRAVIS_BUILD_DIR/Server && npm install && npm run test; cd ..
